@import "~inuit-css";

.move-enter-active, .move-leave-active{
  transform: translateX(0);
  transition: all 0.3s linear;
}

.move-enter, .move-leave-to {
  transform: translateX(100%);
}
.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: 5s;
}

.fade-enter-active {
  transition-delay: 5s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}
